{{ $root := . }}

{{ define "walk" }}
    {{ $data := .data }}
    {{ $path := .path }}
    {{ $root := .root }}
    {{ $ancestors := .ancestors }}

    {{ range $name, $api := $data }}
        {{ if eq $name "_api" }}
            {{ continue }}
        {{ end }}

        {{ $childPath := path.Join $path $name }}

        {{ if isset $api "_api" }}

            {{ $childApi := $api._api }}

            {{ $root.AddPage (dict
                "kind" "page"
                "path" $childPath
                "url" (printf "/spur/reference/%s/" $childPath)
                "title" $name
                "params" (merge
                    (dict "apiAncestors" $ancestors)
                    $childApi
                )
            ) }}

            {{ $childAncestors := collections.Append
                (dict
                    "name" $name
                    "url" (printf "/spur/reference/%s/" $childPath)
                )
                $ancestors
            }}

            {{ template "walk" (dict
                "data" $api
                "root" $root
                "path" $childPath
                "ancestors" $childAncestors
            ) }}

        {{ else }}

            {{ $root.AddPage (dict
                "kind" "page"
                "path" $childPath
                "url" (printf "/spur/reference/%s/" $childPath)
                "title" $name
                "params" (merge
                    (dict "apiAncestors" $ancestors)
                    $api
                )
            ) }}

            {{ if eq $api.kind "class" }}
                {{ $classAncestors := collections.Append
                    (dict
                        "name" $name
                        "url" (printf "/spur/reference/%s/" $childPath)
                    )
                    $ancestors
                }}
                {{ range $index, $method := $api.methods }}

                    {{ $methodPath := path.Join $childPath $method.name }}

                    {{ $root.AddPage (dict
                        "kind" "page"
                        "path" $methodPath
                        "url" (printf "/spur/reference/%s/" $methodPath)
                        "title" $method.name
                        "params" (merge
                            (dict "apiAncestors" $classAncestors)
                            $method
                        )
                    ) }}
                {{ end }}
            {{ end }}

        {{ end }}
    {{ end }}
{{ end }}

{{ template "walk" (dict
    "data" hugo.Data.spur.reference
    "root" $root
    "path" ""
    "ancestors" (slice)
) }}