@font-face {
    font-family: fac;
    src: url("/fonts/Jost-VariableFont_wght.ttf") format(truetype);
}

body {
    margin: 0;
}

.site-header {
    width: 100%;
    padding: 1rem;
    background: #053119;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.logo img {
    display: block;
    height: 30px;
}

.tabs {
    display: flex;
    gap: 2rem;
    font-family: "Jost", sans-serif;
    transform: translateY(4px);
}

.tabs a {
    text-decoration: none;
    color: white
}