@font-face {
    font-family: regular;
    src: url("/fonts/Inter-VariableFont_opsz,wght.ttf") format(truetype);
}

@font-face {
    font-family: code;
    src: url("/fonts/FiraCode-VariableFont_wght.ttf") format(truetype);
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: #101010;
}

.site-header {
    width: 100%;
    padding: 1rem;
    background: linear-gradient(to bottom, #1a1a1a, #053119);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    border-bottom: 1px solid #676767;
}

.site-header-logo img {
    display: block;
    height: 30px;
}

.site-header-tabs {
    display: flex;
    gap: 2rem;
    font-family: regular, sans-serif;
    transform: translateY(4px);
}

.site-header-tabs a {
    text-decoration: none;
    color: white;
    font-weight: 600;
}

.reference-layout {
    display: grid;
    grid-template-columns: 480px minmax(0, 1fr);
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    min-height: 100vh;
    border-left: 1px solid #676767;
    border-right: 1px solid #676767;
}

.reference-sidebar {
    padding: 24px;
    border-right: 1px solid #676767;
}

.reference-content {
    min-width: 0;
}

.reference-header {
    padding: 2rem;
    background: #1b1b1b;
}

.reference-header-content {
    max-width: 1024px;
    margin: 0 auto;
}

.reference-path {
    margin: 0;
    font-family: regular, sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: white;
}

.reference-path a {
    margin: 0;
    font-family: regular, sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: white;
}

.reference-type {
    margin: 0;
    margin-top: 1rem;
    font-family: regular, sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: #c3c3c3;
}

.reference-title {
    margin: 0;
    font-family: regular, sans-serif;
    font-weight: 800;
    font-size: 42px;
    color: white;
}

.reference-summary {
    margin: 0.4rem 0;
    margin-bottom: 1rem;
    font-family: regular, sans-serif;
    font-weight: 600;
    font-size: 24px;
    color: white;
}

.reference-body {
    padding: 2rem;
}

.reference-body-content {
    max-width: 1024px;
    margin: 0 auto;
}

.reference-section {
    margin: 1rem 0;
    font-family: regular, sans-serif;
    font-weight: 600;
    font-size: 22px;
    color: white;
}

.reference-item {
    
}

.reference-item-summary {
    margin-left: 32px;
    margin-top: 0.5rem;
    font-family: regular;
    color: white;
}

.reference-description {
    margin: 0.2rem 0;
    font-family: regular, sans-serif;
    font-weight: 300;
    color: white;
}

.code-block {
    padding: 1rem;
    border-radius: 1rem;
    background: #161616;
    border: 1px solid #676767;
    font-family: code, monospace;
    overflow-x: auto;
}

.code-link {
    font-family: code, monospace;
    color: #7a7e86;
    text-decoration: none;
}

.code-link:hover {
    text-decoration: underline;
}

.code-link span.token-identifier, .code-link span.token-self {
    color: #539bff;
}

.token-identifier {
    font-weight: 400;
}

.token-keyword {
    font-weight: 700;
}

.token-self {
    font-weight: 700;
}

.token-type {
    font-weight: 400;
}

.token-punctuation {
    font-weight: 400;
}

.token-type-punctuation {
    font-weight: 400;
}

a[class^="token-"] {
    text-decoration: none;
}

a[class^="token-"]:hover {
    text-decoration: underline;
}

.code-block .token-identifier {
    color: #e0e0e0;
}

.code-block .token-keyword {
    color: #ef6366;
}

.code-block .token-self {
    color: #ef6366;
}

.code-block .token-type {
    color: #6ed0b4;
}

.code-block .token-punctuation {
    color: #bcbcbc;
}

.code-block .token-type-punctuation {
    color: #43a78b;
}